* {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }
  body header {
    width: 1500px; }

.info {
  display: flex;
  justify-content: space-between;
  background-color: #373434; }
  .info .info__left {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px; }
    .info .info__left .info__left__img_size {
      width: 250px;
      height: 350px;
      margin: 60px 0;
      border-radius: 3%; }
    .info .info__left .info__left__fio-position {
      margin-left: 65px; }
    .info .info__left .info__left__fio-position_size-12 {
      font-size: 22pt;
      margin-bottom: 12px; }
    .info .info__left .info__left__fio-position_size-16 {
      font-size: 30pt;
      margin-bottom: 12px; }
  .info .info__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 90px;
    color: white;
    font-size: 16pt; }
    .info .info__right .info__right__city,
    .info .info__right .info__right__email,
    .info .info__right .info__right__phone,
    .info .info__right .info__right__site {
      margin-bottom: 20px; }
    .info .info__right .info__right__phone_top-right,
    .info .info__right .info__right__site_top-right {
      text-align: right;
      margin-top: 8px; }
      .info .info__right .info__right__phone_top-right .info__right__site_top-right_hover,
      .info .info__right .info__right__site_top-right .info__right__site_top-right_hover {
        color: white;
        text-decoration: none;
        transition-property: all;
        transition-duration: .2s;
        transition-delay: 0.1s; }
        .info .info__right .info__right__phone_top-right .info__right__site_top-right_hover:hover,
        .info .info__right .info__right__site_top-right .info__right__site_top-right_hover:hover {
          color: gray; }
    .info .info__right .info__right__phone_green {
      color: #53ab55; }
    .info .info__right .info__right__phone_blue {
      color: #39a0ce; }
    .info .info__right .info__right__phone_purple {
      color: #774f96; }
