* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include flexCenter();
    header {
        width: 1500px;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    background-color: #373434;
    .info__left {
        color: white;
        @include flexCenter();
        margin-left: 90px;
        .info__left__img_size {
            width: 250px;
            height: 350px;
            margin: 60px 0;
            border-radius: 3%;
        }
        .info__left__fio-position {
            margin-left: 75px;
        }
        .info__left__fio-position_size-12 {
            font-size: 22pt;
            margin-bottom: 12px;
        }
        .info__left__fio-position_size-16 {
            font-size: 30pt;
            margin-bottom: 12px;
        }
    }
    .info__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 90px;
        color: white;
        font-size: 16pt;
        .info__right__city,
        .info__right__email,
        .info__right__phone,
        .info__right__site {
            margin-bottom: 20px;
        }
        .info__right__phone_top-right,
        .info__right__site_top-right {
            text-align: right;
            margin-top: 8px;
        }
        .info__right__phone_green {
            color: #53ab55;
        }
        .info__right__phone_blue {
            color: #39a0ce;
        }
        .info__right__phone_purple {
            color: #774f96;
        }
    }
}